<!DOCTYPE html>
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% templatetag openblock %} block title {% templatetag closeblock %}{% templatetag openblock %} endblock {% templatetag closeblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    {% templatetag openblock %} block css {% templatetag closeblock %}{% templatetag openblock %} endblock {% templatetag closeblock %}
</head>

{% templatetag openblock %} block body {% templatetag closeblock %}{% templatetag openblock %} endblock {% templatetag closeblock %}
</html>
