{% templatetag openblock %} if settings.STATIC_DEBUG {% templatetag closeblock %}
<script src="{% templatetag openvariable %} STATIC_URL {% templatetag closevariable %}{{ project_name }}/front/bower_components/jquery/dist/jquery.js?ver={% templatetag openvariable %} version {% templatetag closevariable %}"></script>
<script src="{% templatetag openvariable %} STATIC_URL {% templatetag closevariable %}{{ project_name }}/front/bower_components/angular/angular.js?ver={% templatetag openvariable %} version {% templatetag closevariable %}"></script>
<script src="{% templatetag openvariable %} STATIC_URL {% templatetag closevariable %}{{ project_name }}/front/bower_components/underscore/underscore.js?ver={% templatetag openvariable %} version {% templatetag closevariable %}"></script>

<script src="{% templatetag openvariable %} STATIC_URL {% templatetag closevariable %}{{ project_name }}/front/bower_components/angular-tastypie/tastypie.js?ver={% templatetag openvariable %} version {% templatetag closevariable %}"></script>
<script src="{% templatetag openvariable %} STATIC_URL {% templatetag closevariable %}{{ project_name }}/front/bower_components/angular-file-upload/angular-file-upload.js?ver={% templatetag openvariable %} version {% templatetag closevariable %}"></script>


<script src="{% templatetag openvariable %} STATIC_URL {% templatetag closevariable %}{{ project_name }}/front/js/controllers/ParentController.js?ver={% templatetag openvariable %} version {% templatetag closevariable %}"></script>
<script src="{% templatetag openvariable %} STATIC_URL {% templatetag closevariable %}{{ project_name }}/front/js/app.js?ver={% templatetag openvariable %} version {% templatetag closevariable %}"></script>
{% templatetag openblock %} else {% templatetag closeblock %}
<script src="{% templatetag openvariable %} STATIC_URL {% templatetag closevariable %}{{ project_name }}/front/js/vendors.min.js?ver={% templatetag openvariable %} version {% templatetag closevariable %}"></script>
<script src="{% templatetag openvariable %} STATIC_URL {% templatetag closevariable %}{{ project_name }}/front/js/uis.min.js?ver={% templatetag openvariable %} version {% templatetag closevariable %}"></script>
<script src="{% templatetag openvariable %} STATIC_URL {% templatetag closevariable %}{{ project_name }}/front/js/apps.min.js?ver={% templatetag openvariable %} version {% templatetag closevariable %}"></script>
{% templatetag openblock %} endif {% templatetag closeblock %}